name: CI
on:
  push:
    paths:
      - "**.zig"

  pull_request:
    branches: [main]
    paths:
      - "**.zig"

  workflow_call:

jobs:
  check_11:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: goto-bus-stop/setup-zig@v2
        with:
          version: 0.11.0
      - name: build
        run: zig build
  check_12:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: goto-bus-stop/setup-zig@v2
      - name: build
        run: zig build
