name: CI
on:
  push:
    paths:
      - "**.zig"
      - "**.zig.zon"
      - "**.yml"

  pull_request:
    branches: [main]
    paths:
      - "**.zig"
      - "**.zig.zon"
      - "**.yml"
  schedule:
    - cron: "0 2 * * *"

  workflow_call:

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        version: [0.11.0, 0.12.1, 0.13.0, ""]
      fail-fast: false
    runs-on: ${{ matrix.os }}
    steps:
      - name: Setup Zig
        uses: goto-bus-stop/setup-zig@v2
        with:
          version: ${{ matrix.version }}
      - uses: actions/checkout@v4
      - name: Build test
        run: zig build
